<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="has-background-light">
    <nav th:replace="fragments :: page-header"></nav>
    <main class="hero is-light is-fullheight-with-navbar container">
        <div class="hero-header">
            <h1 class="title pt-5">Add Employer</h1>
            <hr class="hr-fade"/>
            <form method="post" style="max-width:600px;" class="box">
                <div class="field">
                    <label th:for="name" class="label">Employer Name</label>
                    <input class="input is-small" th:field="${employer.name}" placeholder="Employer Name"/>
                    <span th:errors="${employer.name}" class="error"></span>
                </div>

                <div class="field">
                    <label th:for="location" class="label">Employer Location</label>
                    <input class="input is-small" th:field="${employer.location}" placeholder="Employer location"/>
                    <span th:errors="${employer.location}" class="error"></span>
                </div>

                <div class="field">
                    <input type="submit" value="Add Employer" class="button is-success is-small is-rounded"/>
                </div>
            </form>
        </div>
    </main>
</body>
</html>