<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="bg-tan">
    <nav th:replace="fragments :: page-header"></nav>
    <div class="container body-content">
        <div class="row">
            <div class="col">
                <h1>Add Employer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post" style="max-width:600px;">
                    <div class="form-group form-floating mb-3">
                        <input class="form-control" th:field="${employer.name}" placeholder="Employer Name"/>
                        <label th:for="name">Employer Name</label>
                        <span th:errors="${employer.name}" class="error"></span>
                    </div>

                    <div class="form-group form-floating mb-3">
                        <input class="form-control" th:field="${employer.location}" placeholder="Employer location"/>
                        <label th:for="location">Employer Location</label>
                        <span th:errors="${employer.location}" class="error"></span>
                    </div>

                    <input type="submit" value="Add Employer" class="btn btn-success"/>
                </form>
            </div>
        </div>
    </div>






</body>
</html>