<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="has-background-light">
    <nav th:replace="fragments :: page-header"></nav>
    <main class="hero is-light is-fullheight-with-navbar container">
        <div class="hero-header">
            <h1 class="title pt-5"> Add Skill</h1>
            <hr class="hr-fade"/>
            <form method="post" style="max-width:600px;" class="box">
                <div class="field">
                    <label th:for="name" class="label">Skill Name</label>
                    <input class="input is-small" th:field="${skill.name}" placeholder="Skill Name"/>
                    <span th:errors="${skill.name}" class="error"></span>
                </div>

                <div class="field">
                    <label th:for="description" class="label">Skill Description</label>
                    <input class="input is-small" th:field="${skill.description}" placeholder="Skill Description"/>
                    <span th:errors="${skill.description}" class="error"></span>
                </div>

                <div class="field">
                    <input type="submit" value="Add Skill" class="button is-success is-small is-rounded"/>
                </div>
            </form>
        </div>
    </main>
</body>
</html>