<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="bg-tan">
    <nav th:replace="fragments :: page-header"></nav>
    <div class="container body-content">
        <div class="row">
            <div class="col">
                <h1> Add Skill</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post" style="max-width:600px;">
                    <div class="form-group form-floating mb-3">
                        <input class="form-control" th:field="${skill.name}" placeholder="Skill Name"/>
                        <label th:for="name">Skill Name</label>
                        <span th:errors="${skill.name}" class="error"></span>
                    </div>
                    <div class="form-group form-floating mb-3">
                        <input class="form-control" th:field="${skill.description}" placeholder="Skill Description"/>
                        <label th:for="description">Skill Description</label>
                        <span th:errors="${skill.description}" class="error"></span>
                    </div>

                    <input type="submit" value="Add Skill" class="btn btn-success"/>
                </form>
            </div>
        </div>
    </div>






</body>
</html>