<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="has-background-light">

    <header th:replace="fragments :: page-header"></header>

    <main class="hero is-light is-fullheight-with-navbar container">
        <div class="hero-header">
            <p th:unless="${skills} and ${skills.size()}">no jobs!</p>
            <h1 class="title pt-5">Skills</h1>
            <a th:href="@{'/skills/add'}" class="button is-success is-small is-rounded">Add Skills</a>
            <hr class="hr-fade"/>
            <ul>
                <li th:each="skill : ${skills}">
                    <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>