<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="has-background-light">

    <header th:replace="fragments :: page-header"></header>

    <main class="hero is-light is-fullheight-with-navbar container">
        <div class="hero-header">
            <h1 class="title pt-5">Add Job</h1>
            <hr class="hr-fade">
            <form method="post" style="max-width:600px;" class="box">
                <div class="field">
                    <label th:for="name" class="label">Name</label>
                    <div class="control">
                        <input class="input is-small" th:field="${job.name}" placeholder="Name"/>
                    </div>
                    <span th:errors="${job.name}" class="error"></span>
                </div>

                <div class="field">
                    <label th:for="employer" class="label">Employer</label>
                    <div class="select is-small">
                        <select th:field="${job.employer}"/>
                        <option value="">Select an Employer</option>
                        <option th:each="employer : ${employers}"
                                th:text="${employer.name}"
                                th:value="${employer.id}"></option>
                        </select>
                    </div>
                    <a th:href="@{'/employers/add'}" class="button is-rounded is-link is-small">Add Employers</a>
                </div>

                <div class="field">
                    <label th:for="skills" class="label">Skills</label>
                    <div class="control">
                        <th:block th:each="skill : ${skills}">
                            <input type="checkbox" name="skills" th:value="${skill.id}" class="checkbox">
                            <label th:text="${skill.name}" class="form-check-label"></label>
                        </th:block>
                        <a th:href="@{'/skills/add'}" class="button is-rounded is-link is-small">Add Skills</a>
                    </div>
                </div>
                <div class="field">
                    <input type="submit" value="Add Job" class="button is-success is-small is-rounded"/>
                </div>
            </form>
        </div>
    </main>

</body>
</html>