<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css}">
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script th:src="@{https://kit.fontawesome.com/26b6836309.js}" crossorigin="anonymous"></script>


    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<nav th:fragment="page-header" class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
            <span class="icon is-large"><i class="fab fa-jedi-order fa-3x"></i></span>
            <span>TechJobs</span>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarSet">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarSet" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/list}">List</a>
            <a class="navbar-item" th:href="@{/search}">Search</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Add</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" th:href="@{/add}">Add Jobs</a>
                    <a class="navbar-item" th:href="@{/employers/add}">Add Employers</a>
                    <a class="navbar-item" th:href="@{/skills/add}">Add Skills</a>
                </div>
            </div>

        </div>
    </div>
</nav>

<div th:fragment="list-header">
    <h1 th:text="${#strings.capitalizeWords(title)}" class="title pt-5"></h1>
    <hr class="hr-fade"/>
</div>

<div th:fragment="job-list" class="columns is-multiline">
    <th:block th:each="job : ${jobs}">
        <div class="column is-3">
            <div class="card">
                <div class="card-header has-background-link">
                    <p class="card-header-title has-text-link-light" th:text="${job.name}">Default Job Name</p>
                </div>
                <div class="card-content">
                    <div class="content">
                        <p> Job Id:
                            <a th:href="@{'/view/' + ${job.id}}" th:text="${job.id}"></a>
                        </p>
                        <p> Employer:
                            <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>
                        </p>
                        <p> Skills:
                            <th:block th:each="skill : ${job.skills}">
                                <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                            </th:block>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    </div>
</div>
</body>
</html>