<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />


    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-dark navbar-expand-md bg-blue red-bottom-border navbar-fixed-top">
    <div class="container-fluid">
        <a th:href="@{/}" class="navbar-brand">
            <img src="/images/punch2.svg" alt="punch2.svg", width="50" clas="d-inline-block align-text-top img-white">
            TechJobs
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a th:href="@{/list}" class="nav-link">List</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/search}" class="nav-link">Search</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/add}" class="nav-link">Add Jobs</a>
            </li>
        </ul>
    </div>
</div>
<div th:fragment="list-header" class="row">
    <div class="col">
        <h1 th:text="${#strings.capitalizeWords(title)}" class="display-5"></h1>
    </div>
</div>
<div th:fragment="job-list" class="row">
    <div class="col-4" th:each="job : ${jobs}">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" th:text="${job.name}"></h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Job Id: <a th:href="@{'/view/' + ${job.id}}" th:text="${job.id}"></a></h6>
                <p class="card-text">Employer: <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a></p>
                <h6 class="card-subtitle mt-2 text-muted">Skills</h6>
                <th:block th:each="skill : ${job.skills}">
                    <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>