<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css}">
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />


    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<nav th:fragment="page-header" class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
            <img src="/images/punch2.svg" alt="punch2.svg", width="50">
            TechJobs
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarSet">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarSet" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/list}">List</a>
            <a class="navbar-item" th:href="@{/search}">Search</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Add</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" th:href="@{/add}">Add Jobs</a>
                    <a class="navbar-item" th:href="@{/employers/add}">Add Employers</a>
                    <a class="navbar-item" th:href="@{/skills/add}">Add Skills</a>
                </div>
            </div>

        </div>
    </div>
</nav>

<div th:fragment="job-list" class="columns">
    <div class="col-4" th:each="job : ${jobs}">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" th:text="${job.name}"></h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Job Id: <a th:href="@{'/view/' + ${job.id}}" th:text="${job.id}"></a></h6>
                <p class="card-text">Employer: <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a></p>
                <h6 class="card-subtitle mt-2 text-muted">Skills</h6>
                <th:block th:each="skill : ${job.skills}">
                    <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>