<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="has-background-light">

    <header th:replace="fragments :: page-header"></header>

    <main class="hero is-light is-fullheight-with-navbar container">
        <div class="hero-header">
            <h1 class="title pt-5">TechJobs</h1>
            <hr class="hr-fade">
            <ul class="bd-links">
                <li th:each="job : ${jobs}">
                    <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}" class="box button is-link"></a>
                </li>
            </ul>
        </div>

    </main>

</body>
</html>