<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="bg-tan">

<nav th:replace="fragments :: page-header"></nav>

<div class="container body-content">
    <div th:replace="fragments :: list-header"></div>
    <form th:action="@{/search/results}" method = "post" class="row">
        <div class="col">
            <h2>Search by:</h2>
            <div th:each="column : ${columns}" class="form-check form-check-inline">
                <input
                        class="form-check-input"
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}" class="form-check-label"></label>
            </div>
            <div class="form-floating my-3" style="width: 18rem;">
                <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Keyword"/>
                <label for="searchTerm">Keyword:</label>
            </div>
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
    <hr class="hr-fade"/>
    <div th:replace="fragments :: job-list"></div>
</div>

</body>
</html>