<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="has-background-light">

    <header th:replace="fragments :: page-header"></header>

    <main class="hero is-light is-fullheight-with-navbar container">
        <div class="hero-header">
            <div th:replace="fragments :: list-header"></div>

            <form th:action="@{/search/results}" method = "post" class="box column is-6">
                <h2 class="subtitle">Search by:</h2>
                <div class="control">
                    <th:block th:each="column : ${columns}">
                        <input
                                class="radio"
                                type="radio"
                                name="searchType"
                                th:id="${column.key}"
                                th:value="${column.key}"
                                th:checked="${column.key == 'all'}"/>
                        <label th:for="${column.key}" th:text="${column.value}" class="radio"></label>
                    </th:block>
                </div>

                <div class="field">
                    <label class="label" for="searchTerm">Keyword:</label>
                    <input type="text" name="searchTerm" id="searchTerm" class="input" placeholder="Keyword"/>
                </div>
                <div class="field">
                    <input type="submit" value="Search" class="button is-success" />
                </div>
            </form>
            <hr class="hr-fade"/>
            <div th:replace="fragments :: job-list"></div>
        </div>
    </main>

</body>
</html>