<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="bg-tan">

<nav th:replace="fragments :: page-header"></nav>

<main class="container body-content">
    <div class="row">
        <h1 th:text="${'Job: ' + job.name}" class="display-5">Default Title</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p th:text="${'ID: ' + job.id}"></p>
                    <p>
                        Employer: <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>
                    </p>
                    <h6 class="card-subtitle mt-2 text-muted">Skills</h6>
                    <th:block th:each="skill : ${job.skills}">
                        <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>




<!--<div class="job-listing">-->
<!--    <p th:text="${'ID: ' + job.id}"></p>-->
<!--    <p th:text="${'Name: ' + job.name}"></p>-->
<!--    <p>-->
<!--        Employer: <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>-->
<!--    </p>-->
<!--    <p> Skills:-->
<!--        <ul>-->
<!--            <li th:each="skill : ${job.skills}">-->
<!--                <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </p>-->
<!--</div>-->


</body>
</html>