<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="has-background-light">

    <header th:replace="fragments :: page-header"></header>

    <main class="hero is-light is-fullheight-with-navbar container">
        <div class="hero-header">
            <h1 th:text="${'Job: ' + job.name}" class="title pt-5">Default Title</h1>
            <hr class="hr-fade">
            <div class="card px-3" style="width: 20rem;">
                <div class="card-body">
                    <p th:text="${'ID: ' + job.id}" class="has-text-weight-light"></p>
                    <p class="has-text-weight-light"><span >Employer:</span> <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a></p>
                    <p>Skills</p>
                </div>
                <div class="card-footer">
                    <th:block th:each="skill : ${job.skills}">
                        <div class="card-footer-item">
                            <a th:href="@{'/skills/view/' + ${skill.id}}" th:text="${skill.name}"></a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </main>

</body>
</html>